@model ShopWebUI.Dtos.DealerCategoryDtos.CreateDealerCategoryDto
@{
    ViewData["Title"] = "CreateDealerCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Firma Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-action="CreateDealerCategory">
                    @Html.AntiForgeryToken()
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Firma Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Kategori Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="CategoryName" id="categoryname">
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Kategoriyi Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>