<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
 <!-- Topbar Start -->
<div class="container-fluid topbar bg-light px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-flex flex-wrap">
                <a href="#" class="text-muted small me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>Haritada Göster</a>
                <a href="mailto:info@kombiklimashop.com" class="text-muted small me-4"><i class="fas fa-envelope text-primary me-2"></i>info@kombiklimashop.com</a>
                <a href="tel:+0216 611 99 11" class="text-muted small me-4"><i class="fas fa-phone-alt text-primary me-2"></i>0216 611 99 11</a>
                <a href="tel:+444 19 87" class="text-muted small me-4"><i class="fas fa-phone-alt text-primary me-2"></i>444 19 87</a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a href="#"><small class="me-3 text-dark"><i class="fa fa-user text-primary me-2"></i>Üye Ol</small></a>
                <a href="#"><small class="me-3 text-dark"><i class="fa fa-sign-in-alt text-primary me-2"></i>Üye Girişi</small></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->