   <!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">KKS Konsepti Firmalar</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
            <li class="breadcrumb-item active text-primary">KKS Konsepti Firmalar</li>
        </ol>
    </div>
</div>
<!-- Header End -->
        </div>
<!-- Navbar & Hero End -->
<!-- Services Start -->

<div class="container-fluid p-5" style="background-color: whitesmoke;">
    <div class="text-center wow fadeInUp" -wow-delay="0.2s" style="max-width: 600px;">
        <!-- İl ve İlçe Seçim Kutuları -->
        <select id="il-select" class="form-select d-inline-block rounded-pill px-4 w-auto me-3">
            <option value="">İl Seçiniz...</option>
        </select>
        <select id="ilce-select" class="form-select d-inline-block rounded-pill px-4 w-auto me-3">
            <option value="">İlçe Seçiniz...</option>
        </select>
        <!-- Ara Butonu -->
        <button id="search-button" class="btn btn-primary rounded-pill px-4 ">Ara</button>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.2s" style="max-width: 600px; margin-inline-start: 80px;">
        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-dark rounded-pill px-4 w-auto me-3">
                Tümü <span class="badge bg-primary text-white">146</span>
            </button>
            <button type="button" class="btn btn-primary rounded-pill px-4 me-3">
                Yetkili Satıcılar <span class="badge bg-dark text-white">52</span>
            </button>
            <button type="button" class="btn btn-primary rounded-pill px-4 me-3">
                Satış Noktaları <span class="badge bg-dark text-white">94</span>
            </button>
        </div>
    </div>
</div>



<div class="container-fluid service p-4 " style="width: 90%;">
    <div class="container px-lg-5">

        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/a1.jpeg" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="#" class="h4 d-inline-block mb-4" style="height: 50px;">AĞAOĞLU İNŞAAT</a>

                        <a href="#" class="d-block mb-3" style="height: 20px; text-transform: uppercase; color: #0dcaf0">
                            <i class="fas fa-user-alt text-info me-2"></i>fatma kucuk
                        </a>
                        <a href="#" class="text-muted d-block me-4" style="height: 80px;">
                            <i class="fas fa-map-marker-alt text-primary me-2"></i>ADEM YAVUZ MH.GAZİ MUSTAFA KEMAL CD.NO:2/3 Ümraniye / İSTANBUL
                        </a>
                        <a href="#" class="text-muted d-inline-block me-0" style="height: 10px;">
                            <i class="fas fa-phone-alt text-primary me-2"></i>(216) 330-7107
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/a4.jpeg" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="#" class="h4 d-inline-block mb-4" style="height: 50px;">KALE İDEAL TEKNİK DİZAYN DOĞ.ve ISI SİST.MÜH.LTD.ŞTİ. </a>

                        <a href="#" class="d-block mb-3" style="height: 20px; text-transform: uppercase; color: #0dcaf0">
                            <i class="fas fa-user-alt text-primary me-2"></i>FARUK YILMAZER
                        </a>
                        <a href="#" class="text-muted d-block me-4" style="height: 80px;">
                            <i class="fas fa-map-marker-alt text-primary me-2"></i>OVACIK MAH.HÜRRİYET CAD.NO:58 Merkez / KIRIKKALE AAAAAAAAAAAA AAAAAAAAAA
                        </a>
                        <a href="#" class="text-muted d-inline-block me-0" style="height: 10px;">
                            <i class="fas fa-phone-alt text-primary me-2"></i>(318) 212-3533
                        </a>
                        <a href="#" class="text-muted d-inline-block ms-4">
                            <i class="fas fa-phone-alt text-primary me-2"></i>(318) 212-3533
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/a3.jpeg" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="#" class="h4 d-inline-block mb-4" style="height: 50px;" title="aa">AKARSAN ISITMA SOĞUTMA MÜH. ASANSÖR İNŞ. NAK. İTHA. SAN. VE TİC. LTD. ŞTİ. </a>

                        <a href="#" class="d-block mb-3" style="height: 20px; text-transform: uppercase; color: #0dcaf0">
                            <i class="fas fa-user-alt text-primary me-2"></i>EMRULLAH MERTTÜRK
                        </a>
                        <a href="#" class="text-muted d-block me-4" style="height: 80px;">
                            <i class="fas fa-map-marker-alt text-primary me-2"></i>CEDİDİYE MAH.CELAL KASAPOĞLU CAD.BELEDİYE İŞ MERKEZİ NO:2/C Merkez
                        </a>
                        <a href="#" class="text-muted d-inline-block me-0" style="height: 10px;">
                            <i class="fas fa-phone-alt text-primary me-2"></i>(380) 524-1166
                        </a>
                        <a href="#" class="text-muted d-inline-block ms-4">
                            <i class="fas fa-phone-alt text-primary me-2"></i>(380) 524-1166
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/a2.jpeg" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="#" class="h4 d-inline-block mb-4" style="height: 50px;">ÖZMERT DOĞ. ISIT.SOĞ.SİST. </a>

                        <a href="#" class="d-block mb-3" style="height: 20px; text-transform: uppercase; color: #0dcaf0">
                            <i class="fas fa-user-alt text-primary me-2"></i>EMRULLAH MERTTÜRK
                        </a>
                        <a href="#" class="text-muted d-block me-4" style="height: 80px;">
                            <i class="fas fa-map-marker-alt text-primary me-2"></i>CEDİDİYE MAH.CELAL KASAPOĞLU CAD.BELEDİYE İŞ MERKEZİ NO:2/C Merkez / DÜZCE
                        </a>
                        <a href="#" class="text-muted d-inline-block me-0" style="height: 10px;">
                            <i class="fas fa-phone-alt text-primary me-2"></i>(380) 524-1166
                        </a>
                        <a href="#" class="text-muted d-inline-block ms-4">
                            <i class="fas fa-phone-alt text-primary me-2"></i>(380) 524-1166
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->