 <!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <img src="~/stocker-1.0.0/img/logo-header.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Default/Index/">AnaSayfa </a>
                </li>
                <!-- Dropdown Menu for Kurumsal -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
                        <span class="dropdown-toggle">Kurumsal</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Hakkımızda </a>
                            <ul class="dropdown-menu" style="display: none; position: absolute; left: 100%; top: 0; margin-left: 0.1rem;">
                                <li><a class="dropdown-item" href="#">Biz Kimiz?</a></li>
                                <li><a class="dropdown-item" href="#">Satınalmanızı Yapıyoruz</a></li>
                                <li><a class="dropdown-item" href="#">7/24 Tahsilat</a></li>
                                <li><a class="dropdown-item" href="#">Karlılığınızı Arttırıyoruz</a></li>
                                <li><a class="dropdown-item" href="#">Satış Potansiyeli</a></li>
                                <li><a class="dropdown-item" href="#">Mobil Uygulama</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Tarihçemiz</a></li>
                        <li><a class="dropdown-item" href="#">Kurucularımız</a></li>
                        <li><a class="dropdown-item" href="#>Vizyon & Misyonumuz</a></li>
                        <li><a class="dropdown-item" href="#">Sertifikalar & Ödüller</a></li>
                        <li><a class="dropdown-item" href="/Video/Index">Tanıtım Videoları</a></li>
                        <li><a class="dropdown-item" href="https://www.belgemodul.com/sirket/1442">Bilgi Toplumu Hizmetleri</a></li>
                    </ul>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link">İletişim</a> </li>
                <li class="nav-item"> <a href="/News/Index" class="nav-item nav-link">Haberler</a> </li>
                <li class="nav-item"> <a href="/Campaign/Index" class="nav-item nav-link">Kampanyalar</a></li>
                    <li class="nav-item"> <a href="/Dealer/Index" class="nav-item nav-link">Bayilerimiz</a></li>
                    <li class="nav-item"> <a href="/Fax/Index" class="nav-item nav-link">S.S.S.</a></li>
            </ul>
            <a href="#" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">Ürünleri İncele</a>
        </div>
    </nav>

</div>
<!-- Navbar & Hero End -->